
.wallpaper {
    display: flex;
}

.wallpaper img {
    height: 30vh;
    border-radius: 2%;
}

.profile {
    display: flex;
    column-gap: 10%;
    background-color: #202225;
}

.avatar {
    flex-basis: 15%;
    margin-left: 3em;
}

@media only screen and (max-width: 400px) {
    .avatar {
        margin-left: 1rem;
    }
}

.avatar img {
    width: 130px !important;
    height: 150px !important;
    margin: 1rem 0;
    border-radius: 10%;
    border: 6px solid #2F3136;
}

.description {
    align-self: center;
    color: #FEFEFE;
}