.home {
    height: 100%;
    display: grid;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: #202225;
}
.content{
    grid-area: c;
    background-color: #36393F;
}
.loader{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(49, 51, 58, 0.66)!important;
    /*display: flex;*/
    /*background-color:red;*/
    position: fixed;
    padding: 20% 35%;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*opacity: 60%;*/
}

.displayNone{
    display: none;
}

