
.content{
    color: #FEFEFE;
    margin-left: 10%;
    display: flex;
    column-gap: 15%;
    margin-top: 20px;
}


.posts{
    height:700px;
    overflow-y: auto;
}
/*p: '2px 4px', bgcolor: '#40444B', display: 'flex', alignItems: 'center', width: 700}*/
.postContainer{
    padding: 2px 4px;
    background-color: #40444B;
    display: flex;
    align-items: center;
    max-width: 700px;
}

