
.navMobile {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #2F3136;
    z-index: 7;
}

.navMobileItem {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.nav {
    grid-area: n;
}


.active {
    color: cornflowerblue !important;
}

@media only screen and (max-width: 700px) {
    .nav {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .navMobile {
        display: none !important;
    }
}
