
.content{
    color: #FEFEFE;
    margin-left: 10%;
    display: flex;
    column-gap: 15%;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        margin-left: 0;
    }
}

.paper {
    width: 700px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .paper {
        width: 400px !important;
    }
}

@media only screen and (max-width: 360px) {
    .paper {
        width: 340px !important;
    }
}
@media only screen and (max-width: 600px) {
    .content {
        margin-left: 0;
    }
}

.posts{
    /*height:700px;*/
    /*border: 10px solid #2F3136;*/
    /*overflow-y: auto;*/
}

.postContainer{
    padding: 2px 4px;
    background-color: #40444B;
    display: flex;
    align-items: center;
    max-width: 700px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}