
.content{
    color: #FEFEFE;
    margin-left: 10%;
    display: flex;
    column-gap: 15%;
    margin-top: 20px;
}


.posts{
    /*height:700px;*/
    /*border: 10px solid #2F3136;*/
    /*overflow-y: auto;*/
}

.postContainer{
    padding: 2px 4px;
    background-color: #40444B;
    display: flex;
    align-items: center;
    max-width: 700px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}